<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>This is my dashboard!</h1>
    {% if years %}
        <ul>
            <select name="Seasons" id="temporades-select">
                <option value="">Choose a season</option>
                {% for year in years %}
                    <li>
                        <option value="{{ year.year }}">
                            {{ year.title }}
                        </option>
                    </li>
                {% endfor %}
            </select>
        </ul>
    {% else %}
        <p>No hay partidos disponibles.</p>
    {% endif %}
    <a href="{% url 'user_logout' %}">Logout here!</a>
</body>
</html>
