<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/stylesHomePage.css">
    <link rel="icon" href="../static/images/logo.png"  />

</head>
<body>
    <h1>Data Goal</h1>
    <a class="register_b" href="{% url 'register' %}">Register here!</a>

    <br>  <br>

    <a class="login_b" href="{% url 'login' %}">Login here!</a>

    <div class="bottom_panel2">
            <div class="logo"></div>
            <span class="copyright">© Copyright 2024 Data Goal</span>
    </div>

</body>
</html>

