<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/stylesHome.css">
    <link rel="icon" href="../static/images/logo.png"  />

</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/intro.mp4" type="video/mp4">
    </video>

    <div class="top_panel">
            <div class="logo"></div>
            <span class="titulo">Data Goal</span>
            <a class="register_b" href="{% url 'register' %}">Register</a>
            <a class="login_b" href="{% url 'login' %}">Login</a>
    </div>

</body>
</html>

