<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Goal</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="../static/images/logo.png" rel="icon" />

</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/intro.mp4" type="video/mp4">
    </video>

    <a class="a1" href="{% url 'register' %}">Register here!</a>

    <br>  <br>

    <a class="a2" href="{% url 'login' %}">Login here!</a>

    <div class="bottom_panel2">
            <div class="logo"></div>
            <span class="copyright">© Copyright 2024 Data Goal</span>
    </div>

</body>
</html>

