<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../static/stylesLog.css" rel="stylesheet" />
    <title>Data Goal</title>
</head>
<body>
    <div class="login_div">
            <div class="gray_box"></div>
            <span class="tituloDataGoal">Data Goal</span>
            <form method="Post" autocomplete="off">
                {% csrf_token %}

                <input type="text" name="username" placeholder="Username" class="email_box" value="">
                <input type="password" name="password" placeholder="Password" class="password_box" value="">
                <input type="submit" class="login_botton" value="LOGIN">

            </form>

            <span class="dhaa">Don’t have an account? <a href="{% url 'register' %}">Sign up</a></span>
            <div class="laliga"></div>
    </div>

    <div class="bottom_panel">
            <div class="logo"></div>
            <span class="copyright">© Copyright 2024 Data Goal</span>
    </div>
</body>
</html>
