<!DOCTYPE html>
<html lang="en" xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:WebPage">
<head>
    <link href="../static/stylesRegister.css" rel="stylesheet" />
    <link href="../static/images/logo.png" rel="icon" property="v:image" />
    <title property="v:name">Data Goal - Register</title>
</head>
<body>
    <div class="login_div" property="v:mainContentOfPage" typeof="v:WebPageElement">
            <div class="gray_box"></div>
            <span class="tituloDataGoal" property="v:headline">Data Goal</span>
            <form method="Post" action="{% url 'register' %}" autocomplete="off">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="username_box" value="" property="v:username">
                <input type="email" name="email" placeholder="Email" class="email_box" value="" property="v:email">
                <input type="password" name="password1" placeholder="Password" class="password_box" value="" property="v:password1">
                <input type="password" name="password2" placeholder="Repeat Password" class="repeat_password_box" value="" property="v:password2">
                <input type="submit" class="register_button" value="REGISTER" property="v:submit">
                {% if error_message %}
                <script property="v:error" type="application/javascript">
                    window.onload = function() {
                        window.alert("{{ error_message|escapejs }}");
                    };
                </script>
                {% endif %}
            </form>
            <span class="ahaa" property="v:alreadyHaveAccount">Already have an account? <a href="{% url 'login' %}" property="v:loginLink">Login!</a></span>
            <div class="laliga" property="v:additionalContent"></div>
    </div>
    <div class="bottom_panel" typeof="v:WPFooter">
            <a href="{% url 'user_logout' %}" property="v:logoutLink">
                <div class="logo" property="v:logo"></div>
            </a>
            <span class="copyright" property="v:copyright">© Copyright 2024 - Data Goal</span>
    </div>
</body>
</html>