* {
  box-sizing: border-box;
}

body {
  background: url("images/camp_nou_dif.jpg") fixed center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.bottom_panel {
  width: 100%;
  height: 70px;
  min-width: 100%;
  min-height: 70px;
  background: rgba(0,9,22,1);
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}


.logo {
  width: 60px;
  height: 66px;
  background: url("images/logo.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 5%;
  left: 3%;
  overflow: hidden;
}

.copyright {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45%;
  left: 9%;
  font-family: Inter, serif;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}



.top_panel {
  width: 100%;
  height: 70px;
  min-width: 100%;
  min-height: 70px;
  background: rgba(0,9,22,1);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.back_b {
    position: absolute;
    display: block;
    top: -7%;
    left: 1%;
    width: 100px;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Rockwell, serif;
    border-radius: 8px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.gray_box {
  width: 601px;
  height: 532px;
  background: rgba(230, 230, 230, 0.8); /* Cambia el valor alfa para ajustar la transparencia */
  position: fixed;
  top: 13%;
  left: 5%;
  border-radius: 30px;
  overflow: hidden;
}

.second_gray_box {
  width: 601px;
  height: 532px;
  background: rgba(230, 230, 230, 0.8); /* Cambia el valor alfa para ajustar la transparencia */
  position: fixed;
  top: 13%;
  right: 5%;
  border-radius: 30px;
  overflow: hidden;
}