* {
 box-sizing: border-box;
}


body {
 background: url("images/camp_nou_dif.jpg") fixed center;
 background-size: cover;
 min-width: 100%;
 min-height: 100%;
}


.bottom_panel {
 width: 100%;
 height: 70px;
 min-width: 100%;
 min-height: 70px;
 background: rgba(0,9,22,1);
 opacity: 1;
 position: fixed;
 bottom: 0;
 left: 0;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 overflow: hidden;
}

.logo {
 width: 60px;
 height: 66px;
 background: url("images/logo.png") no-repeat center center;
 background-size: cover;
 opacity: 1;
 position: relative;
 top: 5%;
 left: 3%;
 overflow: hidden;
}


.copyright {
 width: 162px;
 color: rgba(255,255,255,1);
 position: absolute;
 top: 45%;
 left: 9%;
 font-family: Inter, serif;
 font-size: 12px;
 opacity: 1;
 text-align: left;
}






.top_panel {
 width: 100%;
 height: 70px;
 min-width: 100%;
 min-height: 70px;
 background: rgba(0,9,22,1);
 opacity: 1;
 position: fixed;
 top: 0;
 left: 0;
 overflow: hidden;
}


.top_panel a {
   position: absolute;
   display: block;
   top: -7%;
   width: 130px;
   margin: 20px auto;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 20px;
   font-family: Rockwell, serif;
   border-radius: 8px;
   background-color: white;
   transition: background-color 0.3s ease;
   height: 45px;
}

.back_b {
  left: 1%;
}

.edit_b {
  left: 69%;
}

.remove_b {
  position: absolute;
  left: 80%;
 }


.gray_box {
 width: 40%;
 height: 72%;
 background: rgba(255, 255, 255, 1); ; /* Cambia el valor alfa para ajustar la transparencia */
 position: fixed;
 top: 13%;
 left: 5%;
 border-radius: 30px;
 overflow: hidden;
}


.second_gray_box {
 width: 40%;
 height: 72%;
 background: rgba(255, 255, 255, 1);
 position: fixed;
 top: 13%;
 right: 5%;
 border-radius: 30px;
 overflow: hidden;
}


.team1name {
  text-align: center; /* Centreja el text horitzontalment */
  position: absolute;
  top: 27%; /* Desplaça el text al 50% de l'altura del pare */
  left: 50%; /* Desplaça el text al 50% de l'amplada del pare */
  transform: translate(-50%, -50%); /* Centreja exactament el text a la posició */
  height: 20%; /* Altura del text */
}


.local{
 position: absolute;
 top: 25%;
 left: 33.5%;
}


.visitante{
 position: absolute;
 top: 25%;
 left: 56.5%;
}

.gray_box img#img1,
.second_gray_box img#img2 {
  width: 70px;
  height: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}


.total{
 position: absolute;
 top: 25%;
 left: 79.5%;
}


.puntos h3 {
 position: absolute;
 top: 31.5%;
 left: 8%;
}


.puntos ul li:nth-child(1) {
 position: absolute;
 top: 35%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.puntos ul li:nth-child(2) {
 position: absolute;
 top: 35%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.puntos ul li:nth-child(3) {
 position: absolute;
 top: 35%;
 left: 81%;
 list-style: none;
 padding: 0;
}


.victories h3 {
 position: absolute;
 top: 40%;
 left: 8%;
}


.victories ul li:nth-child(1) {
 position: absolute;
 top: 44%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.victories ul li:nth-child(2) {
 position: absolute;
 top: 44%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.victories ul li:nth-child(3) {
 position: absolute;
 top: 44%;
 left: 81%;
 list-style: none;
 padding: 0;
}


.draws h3 {
   position: absolute;
   top: 48.5%;
   left: 8%;
}


.draws ul li:nth-child(1) {
 position: absolute;
 top: 52%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.draws ul li:nth-child(2) {
 position: absolute;
 top: 52%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.draws ul li:nth-child(3) {
 position: absolute;
 top: 52%;
 left: 81%;
 list-style: none;
 padding: 0;
}


.defeats h3 {
   position: absolute;
   top: 57%;
   left: 8%;
}


.defeats ul li:nth-child(1) {
 position: absolute;
 top: 60%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.defeats ul li:nth-child(2) {
 position: absolute;
 top: 60%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.defeats ul li:nth-child(3) {
 position: absolute;
 top: 60%;
 left: 81%;
 list-style: none;
 padding: 0;
}


.goles_a_favor h3 {
   position: absolute;
   top: 65.5%;
   left: 8%;
}


.goles_a_favor ul li:nth-child(1) {
 position: absolute;
 top: 69%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.goles_a_favor ul li:nth-child(2) {
 position: absolute;
 top: 69%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.goles_a_favor ul li:nth-child(3) {
 position: absolute;
 top: 69%;
 left: 81%;
 list-style: none;
 padding: 0;
}




.goles_en_contra h3 {
   position: absolute;
   top: 74%;
   left: 8%;
}


.goles_en_contra ul li:nth-child(1) {
 position: absolute;
 top: 78%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.goles_en_contra ul li:nth-child(2) {
 position: absolute;
 top: 78%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.goles_en_contra ul li:nth-child(3) {
 position: absolute;
 top: 78%;
 left: 81%;
 list-style: none;
 padding: 0;
}


.diferencia_goles h3 {
   position: absolute;
   top: 82.5%;
   left: 8%;
}


.diferencia_goles ul li:nth-child(1) {
 position: absolute;
 top: 87%;
 left: 36%;
 list-style: none;
 padding: 0;
}


.diferencia_goles ul li:nth-child(2) {
 position: absolute;
 top: 87%;
 left: 59%;
 list-style: none;
 padding: 0;
}


.diferencia_goles ul li:nth-child(3) {
 position: absolute;
 top: 87%;
 left: 81%;
 list-style: none;
 padding: 0;
}