<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <link href="../../static/stylesConfirmDelete.css" rel="stylesheet" />
    <link href="../../static/images/logo.png" rel="icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Confirmation Message</title>
</head>
<body>

<div class="confirmation-box" itemscope itemtype="http://schema.org/Question">
    <form method="post">
        {% csrf_token %}
        <p class="confirmation-text" itemprop="text">Are you sure you want to delete the comparative?</p>
        <input type="hidden" name="confirmation" id="confirmation" value="false">
        <button class="back" type="button" onclick="cancelAction()">Back</button>
        <button class="delete" type="button" onclick="confirmAction()">Confirm</button>
    </form>
</div>

<div class="bottom_panel" itemscope itemtype="http://schema.org/WPFooter">
    <div class="logo"></div>
    <span class="copyright">© Copyright 2024 - Data Goal</span>
</div>

<script>
    function cancelAction() {
        var newURL = "http://127.0.0.1:8000/make-comp/{{ user_id }}/{{def_year_id}}/{{def_team1_id}}/{{def_team2_id}}/";
        window.location.href = newURL;
    }

    function confirmAction() {
        document.getElementById("confirmation").value = "true";
        document.querySelector("form").submit();
    }
</script>

</body>
</html>