<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/stylesDashboard.css">
    <link rel="icon" href="../static/images/logo.png">
</head>
<body>
    <div class="top_panel">
        <span class="titulo">Data Goal</span>
        <a class="logout_b" href="{% url 'user_logout' %}">Log out</a>
        <div class="logo"></div>
    </div>

    <main>
        <div class="league" id="add-league">
            <a href="{% url 'make-comp' %}" class="full-link" id="add-comp">
                <span id="plus">+</span>
            </a>
        </div>

        {% for comp in comps %}
            <div class="league">
                <a href="{% url 'get-comp' user_id comp.temporada.id comp.estadistiquesEquip1.id comp.estadistiquesEquip2.id %}" class="full-link">
                   <br><div class="teams-info">
                       <div class="team1">
                           <img id="img1" src="{{ comp.estadistiquesEquip1.escut_url }}"><br>
                           <span id="nom1">{{ comp.estadistiquesEquip1.nom }}</span>
                       </div>
                       <span>vs</span>
                       <div class="team2">
                           <img id="img2" src="{{ comp.estadistiquesEquip2.escut_url }}"><br>
                           <span id="nom2">{{ comp.estadistiquesEquip2.nom }}</span>
                       </div>
                   </div><br>
                    <span id="temp">{{ comp.temporada.titul }}</span>
                </a>
            </div>

        {% endfor %}
    </main>

   <div class="bottom_panel">
       <div class="logo"></div>
       <span class="copyright">© Copyright 2024 - Data Goal</span>
   </div>
</body>
</html>