<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <link href="../static/stylesMakeComp.css" rel="stylesheet" />
    <link href="../static/images/logo.png" rel="icon" />
    <title itemprop="name">Data Goal - Make a comparative</title>
</head>
<body>
    <div class="make_a_comparative" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
        <h1 class="title1" itemprop="headline">
            MAKE A COMPARATIVE
        </h1>
        <form itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
            <meta itemprop="name" content="Select Season and Teams">
            <select name="Seasons" id="temporades-select" onchange="this.form.submit()" itemprop="object">
                <option value="">-- Choose a season --</option>
                {% for year in years %}
                    <option value="{{ year.year }}" {% if selected_year == year.year %}selected{% endif %}>Season 20{{ year.title }}</option>
                {% endfor %}
            </select>
            {% if teams %}
                <select name="Team1" id="equip1-select" onchange="this.form.submit()" itemprop="object">
                    <option value="">-- Choose a team --</option>
                    {% for team in teams %}
                        <option value="{{ team }}" {% if selected_team1 == team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% if teams_without %}
                <select name="Team2" id="equip2-select" itemprop="object">
                    <option value="">-- Choose another team --</option>
                    {% for team in teams_without %}
                        <option value="{{ team }}" {% if selected_team2 == team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <button type="button" class="cancel" id="cancel-button" onclick="cancelAction()" itemprop="actionStatus" itemscope itemtype="http://schema.org/CompletedActionStatus">Cancel</button>
            <button type="button" class="accept" id="accept-button" onclick="this.form.submit()" itemprop="actionStatus" itemscope itemtype="http://schema.org/ActiveActionStatus">Accept</button>
        </form>
        <script>
            function cancelAction() {
                window.location.href = "{% url 'dashboard' %}";
            }
        </script>
    </div>
    <div class="bottom_panel" itemscope itemtype="http://schema.org/WPFooter">
       <div class="logo"></div>
       <span class="copyright">©️ Copyright 2024 - Data Goal</span>
   </div>
</body>
</html>